@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
    font-weight: normal;
}

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto', cursive;
    --fonte-roboto: 'Roboto', cursive;
}


.carousel {
    width:fit-content;
    height:fit-content;
}

#imgcar1 {
    filter: brightness(50%);
}

#imgcar2 {
    filter: brightness(50%);
}

#imgcar3 {
    filter: brightness(50%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    z-index: 10;
    opacity: 80%;
    color: black;
}


.menu-logo {
    filter: invert(44%) sepia(94%) saturate(3895%) hue-rotate(338deg) brightness(102%) contrast(83%);
}

.column {
    float: left;
    width: 25%;
    height: 400px;
  }

  .colummobile {
      width: 100%;
      height: 400px;
  }

.column#column1 {
    background-color: #ffa09f;
}
.column#column2 {
    background-color: #FF6E6B;
}
.column#column3 {
    background-color: #EB4E4B;
}
.column#column4 {
    background-color: #9E2523;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.pros {
    margin: 50% 10% 10% 10%;
    text-align: justify;
    color: white;
    opacity: 0%;
}

.div-only-mobile{
    width: 100%;
    height:400px;
    background-color: #ffa09f;
}
.column#column1mobile {
    background-color: #ffa09f;
}
.column#column2mobile {
    background-color: #FF6E6B;
}
.column#column3mobile {
    background-color: #EB4E4B;
}
.column#column4mobile {
    background-color: #9E2523;
}

/*
@media screen and (max-width : 1920px){
    .div-only-mobile{
    visibility:hidden;
    }
}
@media screen and (max-width: 600px) { /* Make the row div only appear in desktop/tablet device */
/*    .row {
        visibility: hidden;
    }

    .div-only-mobile{
        visibility:visible;
    }
}
*/

.pros:hover {
    transition-duration: 2s;
    opacity: 100%;
}

.container {
    width: auto;
    padding: 10px 10px 10px 10px;
    margin: 10% 10% 10% 10%;
    text-align: justify;
    line-break: normal;
}

.container2 {
    width: auto;
    height: 300px;
    margin: 10% 10% 10% 10%;
    text-align: justify;
    line-break: normal;
}

 h1 {
    margin: 5% 5% 5% 5%;
    font-size: 52px;
    background: -webkit-linear-gradient(rgb(255, 177, 177), #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
   margin:0;
   padding:0;
   height:100%;
   
   font-family: var(--fonte-padrao);
}

.formulario {
    padding-top: 100px;
}

a.nav-link:link
{
   color: #424242;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #424242;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #424242;
   text-decoration: none;
}
a.nav-link:active
{
   color: #424242;
   text-decoration: none;
}

footer {
    padding-top: 100px;
    padding-bottom: 15px;
    text-align: center;
    bottom: 0;
}
